$font: neue-haas-grotesk-text, sans-serif;
$font-color: #EBEAEA;

$body-bg: #004c3f;

$xs: 480px;
$sm: 768px;
$md: 1024px;
$lg: 1200px;
$xl: 1201px;



$ts: .4s; // speed
$te: ease; // ease

$max-width: 1400px;
$modal-size: 75%;