  .input-group {
    position: relative;
    max-width: fit-content;
    display: inline-block;
  }

  label {
    position: absolute;
    font-weight: 500;
    font-size: 1em;
    opacity: 0.5;
    top: 1rem;
    left: 1rem;
    pointer-events: none;
    color: black;
  }

  .ease-in {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }

  input {
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px #6b7177;
    border-radius: 4px;
    white-space: nowrap;
    height: 50px;
    width: 352px;
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-top: 0.375rem;

    &::placeholder {
      color: transparent;
    }

    &:focus {
      -webkit-box-shadow: 0 0 0 1px #6b7177, 0 0 0 3px rgba(21,122,118,0.8);
      box-shadow: 0 0 0 1px #6b7177, 0 0 0 3px rgba(21,122,118,0.8);
      z-index: 1;
    }

    &:focus, &:not(:placeholder-shown){
      &+label
      {
        transform: translateY(-0.6rem);
        font-size: 0.75rem;
        color: black;
      }
    }
  }

  .disable-select {
    user-select: none; /* Chrome/Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}