button {
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    border: none;
    font-size: 18px;
    background-color: #008060;
    color: white;
    width: 160px;
    height: 56px;
    margin-left: 24px;

    &:hover {
      background-color: #003229;
    }

    &:active {
      background-color: darken(#003229, 2%);
      -webkit-box-shadow: 0 0 0 3px rgba(21,122,118,0.5);
      box-shadow: 0 0 0 3px rgba(21,122,118,0.5);
    }
  }